body{
  padding: 0;
  margin: 0;
  text-align: center;
}

#canvas{
  margin: 0 auto;
  margin-top: 20px;
}

#title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color{
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  box-shadow: 1px 1px 2px grey;
  margin: 10px;
  cursor: pointer;
}